* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* navigation */
.navibar {
    height: 100px;
    /* padding: 10px; */
    /* background-color: aqua; */
}

.banner-category-effect-div {
    width: 12%;
}

.Logo {
    width: 18%;
    padding-left: 40px !important;

}

.search-bar {
    width: 450px;
    margin-left: 50px !important;
    margin: 50px auto;
    position: relative;
}

#list_Item {
    margin-left: 30px !important;
    padding-right: 40px !important;
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: 900;
}

.op-2 {
    opacity: 0.2;
}

.op-4 {
    opacity: 0.4;
}

.ft-wgt-900 {
    font-weight: 900;
}

.ft-wgt-800 {
    font-weight: 800;
}

.ft-wgt-700 {
    font-weight: 700;
}

.ft-wgt-600 {
    font-weight: 600;
}

.ft-wgt-500 {
    font-weight: 500;
}

.ft-wgt-400 {
    font-weight: 400;
}

.ft-clr-blue {
    color: #087DEA;
}

.ft-clr-darkblue {
    color: #011E4F;
}

.ft-clr-gray {
    color: #000000A6
}

.ft-fam-rob {
    font-family: "Roboto", serif;
}

/* ----- About Us ------ */

.ft-35 {
    font-size: 35px;
}

.aboutus-subtitle {
    font-size: 18px;
    line-height: 18px;
}

.aboutus-titleweb {
    font-size: 55px;
    line-height: 55px;
}

.aboutusbox {
    background: linear-gradient(96.66deg, #087DEA 3.77%, #00D6E4 83.46%);
}

.aboutuslogo1,
.aboutuslogo2,
.aboutuslogo3 {
    position: absolute;
}

.aboutuslogo1 {
    top: -24px;
    left: -69px;
}

.aboutuslogo2 {
    right: 0;
    bottom: -47px;
}

.aboutuslogo3 {
    right: 145px;
    bottom: 60px;
}


/* ----- About-Us-Body ------ */
.about-subs {
    font-size: 30px;
    line-height: 42.3px;
}

.aboutusbodytitle {
    font-size: 50px;
    font-weight: 900;
    color: #077DEA;
    line-height: 57px;
    margin-bottom: 15px;
}

.aboutusbodypara {
    font-size: 16px;
    color: #636363;
    line-height: 20px;
}

.aboutusbodylogo1 {
    position: absolute;
    top: -55px;
    left: -99px;
    z-index: -1;
}



/* -----HotRanked Unique Section----- */
.hotrankedunique-section {
    background: linear-gradient(96.66deg, #E6F2FC 3.77%, #E8F2F5 99.77%);
}

.hotrankedunique-logo {
    width: 100px;
    position: absolute;
    right: 318px;
}

.hotrankedunique-title {
    font-weight: 900;
    font-size: 55px;
    line-height: 55px;

}

.hotrankedunique-box {
    background: #087DEA;
    border-radius: 40px;
    box-shadow: 10px 10px 5px #D2E0EB80;
}


.hotrankedunique-box .btitle {
    font-size: 25px;

}

.hotrankedunique-box .bpara {
    font-size: 15px;
    line-height: 18px;
}

.hotrankedunique-box2 {
    background: #087DEA;
}

.hotrankedunique-box3 {
    background: #003CE0;
}

.hotrankedunique-box4 {
    background: #002EA6;
}

.about-more .arrowes img {
    right: 12px;
    top: 15px;
}

.about-more .arrowes {
    background-color: #011E4F !important;
    width: 40px;
    height: 40px;
    right: 60px;
    top: 17px;
}

.about-more:hover .view-category {
    color: white;
}

.about-more .view-category {
    background-color: #1CE7E7;
    color: #011E4F;
    font-size: 18px;
    font-weight: 800;
    width: 456px;
    height: 75px;
    padding-left: 0 !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* -- -------- Explore Section ------ */
.explore-title span {
    color: #011332;
}

.explore-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 45px;
    color: #077DEA;
    letter-spacing: 0%;
}

.explore .epara {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: #011E4F;
}

.explore .view-category .rounded-circle {
    background-color: white;
}

.explore .arrowes img {
    right: 14px;
    top: 16px;
}

.explore .arrowes {
    width: 40px;
    height: 40px;
    right: 58px;
    top: 18px;

}

.explore .view-category {
    border-radius: 40px;
    font-size: 18px;
    font-weight: 800;
    background: #023BE0;
    height: 75px;
    width: 229px;
    padding: 10px 0 !important;
    box-shadow: 0px 4px 4px 0px #00000073;
}

.explorebuttonlogo {
    z-index: -10;
    position: absolute;
    top: -26px;
    left: 95px;
    height: 138px;
}

.Explore-logo1,
.Explore-logo2 {
    height: 80px;
}




@media (max-width : 1024px) {
    .aboutusbodytitle {
        font-size: 35px;
        line-height: 38px;
    }

    .hotrankedunique-title {
        font-size: 35px;
    }

    .hotrankedunique-box {
        border-radius: 20px;
    }

    .hotrankedunique-box .bpara {
        line-height: 18px;
    }

    .explore-title {
        font-size: 27px;
        line-height: 30px;
    }
}

@media (max-width : 769px) {
    .aboutusbodypara {
        font-size: 14px;
    }
    .about-subs {
        font-size: 30px;}
        
    .aboutusbodytitle {
        font-size: 28px;

    }
}

    @media (max-width : 465px) {

        .aboutus-titleweb {
            font-size: 34px;
            text-align: start;
        }

        .aboutus-subtitle {
            font-size: 14px;
            text-align: start;
        }

        .about-subs {
            font-size: 20px;
        }

        .aboutuslogo1 {
            left: -27px;
        }

        .aboutuslogo2 {
            display: none;
        }

        .aboutuslogo3 {
            right: 0;
            width: 80px;
        }

        .aboutusbodypara {
            font-size: 15px;
            line-height: 18px;
        }

        .aboutusbodytitle {
            font-size: 27px;
            line-height: 30px;
        }

        .aboutusbodylogo1 {
            top: 0;
        }

        .hotrankedunique-title {
            font-size: 25px;
            line-height: 25px;
        }

        .explore-title {
            font-size: 30px;
            line-height: 25px;
        }

        .explorebuttonlogo {
            top: 5px;
            left: 90px;
            height: 100px;
        }

        .Explore-logo1,
        .Explore-logo2 {
            height: 40px;
        }

        .about-more .view-category {
            font-size: 14px;
        }

        .about-more .view-category {
            width: 300px;
        }
    }

    @media screen and (max-width: 321px) {

        /* .about-more .arrowes{
        display: none;
    } */
        .about-more .view-category {
            width: 280px;
        }

        .about-more .arrowes {
            right: 42px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
    

        .aboutusbodylogo1 {
            top: -30px;
            left: -50px;
        }

        .explore-title {
            font-size: 20px;
            line-height: 25px;
        }
    }




    @media (min-width: 1920px) {

        .row {
            justify-content: center;
        }

        .aboutusbodytitle,
        .aboutusbodypara,
        .explore-title {

            max-width: 1100px;

        }

        .aboutusbodylogo1,
        .aboutuslogo1,
        .aboutuslogo2,
        .aboutuslogo3 {
            left: 50%;
            transform: translateX(-50%);
        }
    }