* {
    font-family: "Mona Sans", serif;
}

.ft-wgt-900 {
    font-weight: 900;
}

.ft-wgt-800 {
    font-weight: 800;
}

.ft-wgt-700 {
    font-weight: 700;
}

.ft-wgt-600 {
    font-weight: 600;
}

.ft-wgt-500 {
    font-weight: 500;
}

.ft-wgt-400 {
    font-weight: 400;
}

.ft-clr-blue {
    color: #087DEA;
}

.ft-clr-darkblue {
    color: #011E4F;
}

.ft-clr-gray {
    color: #000000A6
}

.ft-fam-rob {
    font-family: "Roboto", serif;
}

.w-60 {
    width: 60%;
}
.ft-16{
    font-size: 16px !important;
}
.ft-23{
    font-size: 23px !important;
}

.bd-left {
    border-left: 1px solid #39ACE7;
}

.rating-stars {
    vertical-align: middle;
}

.rating-stars strong span {
    font-size: 16px;
    line-height: 19px;
}

.tab-pane p {
    font-size: 23px;
    line-height: 19px;
}

.rating-stars strong {
    font-size: 30px;
    font-weight: 900;
    line-height: 19px;
    color: #000000;
}

.creator-img {
    width: 150%;
    max-width: 475px;
    border-radius: 50%;
    border: 15px solid #00C0FF;
    object-fit: cover;
    z-index: 2;
    top: 15%;
}

.btn-fans+p {
    color: #011D4DA6;
    font-size: 18px;
    line-height: 19px;
    font-weight: 500;
}

.btn-fans {
    background-color: #39ACE7;
    color: white;
    font-weight: 900;
    font-size: 18px;
    line-height: 19px;
    padding: 20px 30px;
    border-radius: 5px;

}

.flag-img {
    width: 385px;
    height: 360px;
    border-radius: 50%;
    border: 15px solid white;
    position: absolute;
    top: 5px;
    /* clip-path: circle(48.7% at 30% 30%); */
    rotate: 180deg;
    right: -55px;
    z-index: 1;
}


.profile-card {
    background-image: url('./../assets/icons/fan-bg-full.jpg');
    background-size: cover;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 100%;
    max-width: 500px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    object-fit: cover;
}

.badge-discount {
    background: #FFD700;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border-radius: 0 60% 0 60%;
    top: 25%;
    left: 6.5%;
    width: 90px;
    display: inline-block;
    z-index: 1;
}

.badge-price {
    background: rgb(3, 149, 255);
    background: linear-gradient(rgba(3, 149, 255, 1) 30%, rgba(0, 60, 224, 1) 100%);
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    top: 25%;
    width: 90px;
    height: 90px;
    left: 0;
}

.feature-badge {
    background: #E3F1F9;
    color: #000000;
    font-size: 14px;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
}

.fan-bg-tops {
    top: 0;
    z-index: -2;
}

.fan-bg-right {
    top: 0;
    left: 55%;
    z-index: -2;
}

.fan-bg-top {
    top: 0;
    z-index: -1;
}

.more-details {
    background: #087DEA;
    color: white;
    padding: 27px 35px;
    border-radius: 35px 35px 0 0;
    width: 50%;
    font-size: 20px;
    bottom: 0;
    left: 25%;
}

.right-bg {
    right: 0;
}

.profile-card h3 {
    font-size: 43px;
    line-height: 63px;
}

.profile-card h5 {
    font-size: 25px;
    line-height: 35px;
}

.profile-card h6 {
    font-size: 17px;
    line-height: 19px;
}

.profile-card p {
    font-size: 15px;
    line-height: 19px;
}

.profile-card table {
    font-size: 14px;
    line-height: 25px;
    color: #333333;
}

.table {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.table>:not(caption)>*>* {
    background-color: transparent !important;
    padding: 0;
}

.table .row {
    display: flex;
}

.table .cell {
    display: table-cell;
    flex: 1;
    font-size: 14px;
    line-height: 25px;
    vertical-align: middle;
    font-weight: 500;

}


.award-button {
    display: flex;
    align-items: center;
    background-color: #E3F1F9;
    border-radius: 50px;
    padding: 8px 20px;
    line-height: 19px;
    font-weight: 700;
    font-size: 14px;
    color: black;
    border: none;
    cursor: pointer;
    gap: 15px;
    width: fit-content;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.icon-circle {
    background-color: #011E4F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle::before {
    content: "✔";
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.fan-profile .flag-container img {
    width: 22px !important;
}

.flag-icons {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    background-size: cover;
    border: 2px solid gray;
    margin: 0 10px;
    align-items: center;
    vertical-align: middle;
}


.fan-profile .flag-container {
    vertical-align: unset;
    /* padding: 5px 0; */
    margin: 0 5px;
    border: 2px solid white;
}

.fan-bd {
    border: 1px solid #39ACE773;
    background-color: #F2F9FC;
}
.counts h1{
vertical-align: middle;
    color: white;
    font-weight: 900;
    font-size: 45px;
}
.counts{
    top: -20px;
    left: -40px;
   padding: 16px 32px;
    background-image: url('../assets/icons/fan-count-bg.svg') ;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.table-custom td {
    vertical-align: middle;
}

.myacord{
    border-top: 1px solid #39ACE773;
   margin-top: 0;
    padding: 15px 0 5px 0;
}

.info-card {
    background: #F2F9FC;
    padding: 15px;
    border: 1px solid #39ACE773;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.more-btn {
    height: 75px;
}
.close-card{
   background-color: #DDFBFB;
   border-radius: 0 0 35px 35px;
   
}
.close-card button{
   max-width: 250px;

}

.more-btn button {
    border-radius: 35px 35px 0 0;
    width: 100%;
    left: unset;
}

.extend-card {
    border-radius: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 35px 35px;
}

/* Style for the active tab */
.nav-tabs .nav-link.active {
    --bs-nav-tabs-border-width: 0 solid white !important;
    border-bottom: 3px solid #087DEA;
}

.nav-tabs .nav-link {
    font-size: 14px;
    line-height: 19px;
    font-weight: 900;
    color: #000;
}


.tab-content {
    padding: 20px;
    border-top: 1px solid #ACD8F8;
}

@media (max-width: 1201px) {
    .creator-img {
        width: 100%;
        max-width: 375px;
    }

    .badge-discount {
        left: 8.5%;
    }

    .profile-card h3 {
        font-size: 40px;
        line-height: 50px;
    }

    profile-card h5 {
        font-size: 20px;
        line-height: 35px;
    }

    .flag-img {
        width: 270px;
        right: 10px;
        height: 270px;
    }

    .fan-bg-right {
        left: 45.7%;
    }
}

@media (max-width: 1025px) {
    .w-75{
        width: 90% !important ;
    }
    .social .award-button {
        padding: 5px 15px;
        line-height: 17px;
        font-weight: 700;
        font-size: 13px;
    }
    .social .award-button img{
        width: 25px;
    }
}
@media (max-width: 993px) {
    .more-btn button {
        border-radius: 0;
    }
}

@media (max-width: 769px) {
    .profile-image {
        max-width: 320px;
    }

    .badge-discount {
        left: unset;
    }

    .more-details {
        width: auto;
    }
    .btn-fans+p {
        font-size: 14px;
    }
    .bd-left {
        border-left: 0 solid #39ACE7;
    }
    .sub-text-blue-size,
    .sub-text-gray-size {
        font-size: 40px;
        line-height: 40px;
    }

    .profile-para {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .w-60 {
        width: 90%;
    }
}

@media (max-width: 575px) {}

@media (max-width: 426px) {
    .profile-card h5 {
        font-size: 15px;
    }
    .flag-img {
        top: -60px;
        right: 0;
    }
    .badge-discount {
        left: 90%;}
        .badge-price {
            left: -25px;
            width: 65px;
            height: 65px;
        }
    .profile-card h3 {
        font-size: 27px;
        line-height: 38px;
    }
}

@media (max-width: 380px) {
    .badge-discount {
        right: -20%;
    }

    .badge-price {
        left: -5%;
    }
}

@media (max-width: 360px) {}

@media (max-width: 320px) {}